Repository woowacourse-teams/2023-hang-log, pull requests merged in 2024-02, with the labels that each got.

#788 좋아요 조회 및 업데이트 버그 수정
  backend/src/main/java/hanglog/community/service/CommunityService.java
  backend/src/main/java/hanglog/global/config/RedisConfig.java
  backend/src/main/java/hanglog/like/domain/LikeCount.java
  backend/src/main/java/hanglog/like/domain/LikeRedisConstants.java
  backend/src/main/java/hanglog/like/domain/MemberLike.java
  backend/src/main/java/hanglog/like/domain/repository/CustomLikeRepository.java
  backend/src/main/java/hanglog/like/domain/repository/LikeCountRepository.java
  backend/src/main/java/hanglog/like/domain/repository/LikeRepository.java
  backend/src/main/java/hanglog/like/domain/repository/MemberLikeRepository.java
  backend/src/main/java/hanglog/like/dto/LikeElement.java
  backend/src/main/java/hanglog/like/dto/LikeElements.java
  backend/src/main/java/hanglog/like/dto/LikeInfo.java
  backend/src/main/java/hanglog/like/dto/TripLikeCount.java
  backend/src/main/java/hanglog/like/infrastrcutrue/CustomLikeRepositoryImpl.java
  backend/src/main/java/hanglog/like/service/LikeService.java
  backend/src/main/java/hanglog/like/service/LikeSyncScheduler.java
  backend/src/test/java/hanglog/integration/service/LikeServiceIntegrationTest.java
  backend/src/test/java/hanglog/like/service/LikeSyncSchedulerTest.java
Labels: 🐞 Bug, BE

#791 좋아요 기능 버그 해결을 위한 캐싱 자료구조 및 로직 변경
  backend/src/main/java/hanglog/community/service/CommunityService.java
  backend/src/main/java/hanglog/global/config/RedisConfig.java
  backend/src/main/java/hanglog/like/domain/LikeCount.java
  backend/src/main/java/hanglog/like/domain/LikeRedisConstants.java
  backend/src/main/java/hanglog/like/domain/MemberLike.java
  backend/src/main/java/hanglog/like/domain/repository/CustomLikeRepository.java
  backend/src/main/java/hanglog/like/domain/repository/LikeCountRepository.java
  backend/src/main/java/hanglog/like/domain/repository/LikeRepository.java
  backend/src/main/java/hanglog/like/domain/repository/MemberLikeRepository.java
  backend/src/main/java/hanglog/like/dto/LikeElement.java
  backend/src/main/java/hanglog/like/dto/LikeElements.java
  backend/src/main/java/hanglog/like/dto/LikeInfo.java
  backend/src/main/java/hanglog/like/dto/TripLikeCount.java
  backend/src/main/java/hanglog/like/infrastrcutrue/CustomLikeRepositoryImpl.java
  backend/src/main/java/hanglog/like/service/LikeService.java
  backend/src/main/java/hanglog/like/service/LikeSyncScheduler.java
  backend/src/test/java/hanglog/integration/service/LikeServiceIntegrationTest.java
  backend/src/test/java/hanglog/like/service/LikeSyncSchedulerTest.java
Labels: 🐞 Bug, BE

#793 refactor: Toggle 컴포넌트 재구축 및 서비스 코드 반영, 디자인시스템 v1.3.10 배포
  frontend-monorepo/package.json
  frontend-monorepo/packages/hang-log-design-system/package.json
  frontend-monorepo/packages/hang-log-design-system/src/components/NewToggle/Item.tsx
  frontend-monorepo/packages/hang-log-design-system/src/components/NewToggle/List.tsx
  frontend-monorepo/packages/hang-log-design-system/src/components/NewToggle/NewToggle.tsx
  frontend-monorepo/packages/hang-log-design-system/src/components/NewToggle/Toggle.style.ts
  frontend-monorepo/packages/hang-log-design-system/src/index.tsx
  frontend-monorepo/packages/hang-log-design-system/src/stories/NewToggle.stories.tsx
  frontend-monorepo/packages/hanglog-service/package.json
  frontend-monorepo/packages/hanglog-service/public/mockServiceWorker.js
  frontend-monorepo/packages/hanglog-service/src/components/trips/TripsItemList/TripsItemList.tsx
  frontend-monorepo/packages/hanglog-service/src/pages/MyTripsPage/MyTripsPage.tsx
  frontend-monorepo/packages/hanglog-service/src/stories/trips/TripsItemList.stories.tsx
  frontend-monorepo/yarn.lock
Labels: FE-Service, FE-DesignSystem

#794 수정된 디자인시스템 컴포넌트 서비스 코드 반영 (Toggle)
  frontend-monorepo/packages/hanglog-service/src/components/common/DayLogItem/DayLogItem.tsx
  frontend-monorepo/packages/hanglog-service/src/components/expense/ExpenseListSection/ExpenseListSection.tsx
  frontend-monorepo/packages/hanglog-service/src/components/trips/TripsItemList/TripsItemList.tsx
  frontend-monorepo/packages/hanglog-service/src/components/trips/TripsItemList/TripsItemListSkeleton.tsx
  frontend-monorepo/packages/hanglog-service/src/hooks/api/useCommunityTripQuery.ts
  frontend-monorepo/packages/hanglog-service/src/hooks/api/useSharedTripQuery.ts
Labels: 🔨 Refactor, FE-Service
